PS_SWAC/Service References/Consumos/PSServicios31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://psbroker.mx/PSServicios/PSServicios.svc?xsd=xsd2" namespace="Testing" />
  <xs:element name="ValidaUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clave" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidaUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidaUsuarioResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidaUsuarioAdministracion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clave" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidaUsuarioAdministracionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidaUsuarioAdministracionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscaCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rfc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscaClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BuscaClienteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscaClienteRazon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="razonSocial" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscaClienteRazonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BuscaClienteRazonResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardaClientes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clave" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RFC" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RazonSocial" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Calle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NumExterior" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NumInterior" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CodigoPostal" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TipoAsentamiento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Asentamiento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Ciudad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Municipio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Pais" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CorreoFacturas" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardaClientesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuardaClientesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clave" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginPortal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clave" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginPortalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginPortalResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardaUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardaUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuardaUsuarioResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardaPermisosUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Codigo_Usuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardaPermisosUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuardaPermisosUsuarioResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DespliegaUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DespliegaUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DespliegaUsuarioResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DespliegaPermisosUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DespliegaPermisosUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DespliegaPermisosUsuarioResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminaUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminaUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminaUsuarioResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idGrupo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idRegion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="estatus" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="posicion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numRegistros" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListaUsuarioResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaUsuarioPadre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Codigo_Grupo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idBusqueda" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaUsuarioPadreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListaUsuarioPadreResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaUsuarioHijos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaUsuarioHijosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListaUsuarioHijosResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="pathHijo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idHijo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="pathHijoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pathHijoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminaRegion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idRegion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminaRegionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminaRegionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardaRegion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idRegion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descripcionRegion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardaRegionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuardaRegionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminaGrupo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idGrupo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminaGrupoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminaGrupoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardaGrupo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idGrupo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descripcionGrupo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardaGrupoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuardaGrupoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminaProveedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idProveedor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminaProveedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminaProveedorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardaProveedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idProvvedor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardaProveedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuardaProveedorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DespliegaDatosProveedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idProveedor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DespliegaDatosProveedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DespliegaDatosProveedorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardaServicio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlUsuario" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="Testing" minOccurs="0" name="Servicio" type="q1:Servicios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardaServicioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuardaServicioResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DespliegaServicioUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idusuario" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="Testing" minOccurs="0" name="Servicio" type="q2:Servicios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DespliegaServicioUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DespliegaServicioUsuarioResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminaSucuarsal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id_Sucursal" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminaSucuarsalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminaSucuarsalResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminaTerminal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id_Terminal" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminaTerminalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminaTerminalResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardaTerminal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlTerminal" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardaTerminalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuardaTerminalResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardaSucursal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlSucursal" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardaSucursalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuardaSucursalResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DespliegaPeriodo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DespliegaPeriodoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DespliegaPeriodoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DespliegaAplicaciones">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DespliegaAplicacionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DespliegaAplicacionesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DespliegaTiposConsumo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DespliegaTiposConsumoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DespliegaTiposConsumoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardaProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardaProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuardaProductoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminaProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idProducto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminaProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminaProductoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DespliegaProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idProducto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DespliegaProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DespliegaProductoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardaProductoUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlProducto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardaProductoUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuardaProductoUsuarioResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DespliegaProductosUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id_Usuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DespliegaProductosUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DespliegaProductosUsuarioResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrarProductoUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id_Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Id_Producto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Id_Aplicacion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrarProductoUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BorrarProductoUsuarioResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApruebaPaquetesTransaccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idAplicacion" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cantidad" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApruebaPaquetesTransaccionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApruebaPaquetesTransaccionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaldoToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idAplicacion" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idProducto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaldoTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaldoTokenResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransaccionAC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idAplicacion" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cantidad" type="xs:int" />
        <xs:element minOccurs="0" name="archivo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransaccionACResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TransaccionACResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardaTablaComerciales">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardaTablaComercialesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuardaTablaComercialesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminaComerciales">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id_Tabla" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminaComercialesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminaComercialesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DespliegaComerciales">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id_Tabla" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DespliegaComercialesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DespliegaComercialesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargaTokens">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargaTokensResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CargaTokensResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrasferenciaTokens">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrasferenciaTokensResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TrasferenciaTokensResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DespliegaDestinos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DespliegaDestinosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DespliegaDestinosResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardaAviso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardaAvisoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuardaAvisoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminaAviso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdAviso" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminaAvisoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminaAvisoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DespliegaAviso">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DespliegaAvisoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DespliegaAvisoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecargasHistoricosGrafica">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Mes" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Year" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="Testing" minOccurs="0" name="Opciones" type="q3:Opcion" />
        <xs:element minOccurs="0" name="IdCliente" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecargasHistoricosGraficaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RecargasHistoricosGraficaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecargaHistoricoGrid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Del" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Al" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="Testing" minOccurs="0" name="Carrier" type="q4:Carriers" />
        <xs:element minOccurs="0" name="posicion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numRegistros" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IdCliente" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecargaHistoricoGridResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RecargaHistoricoGridResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarComercio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarComercioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgregarComercioResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ElimanaComercio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Id_Usuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ElimanaComercioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ElimanaComercioResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HistoricosPDSGrafica">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Mes" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Year" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="Testing" minOccurs="0" name="Opciones" type="q5:Opcion" />
        <xs:element minOccurs="0" name="IdCliente" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HistoricosPDSGraficaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HistoricosPDSGraficaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HistoricoPDSGrid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Del" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Al" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Carrier" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="posicion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numRegistros" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IdCliente" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HistoricoPDSGridResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HistoricoPDSGridResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HistoricosTCGrafica">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Mes" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Year" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="Testing" minOccurs="0" name="Opciones" type="q6:Opcion" />
        <xs:element minOccurs="0" name="IdCliente" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HistoricosTCGraficaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HistoricosTCGraficaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HistoricoTCGrid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Del" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Al" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="posicion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numRegistros" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IdCliente" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HistoricoTCGridResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HistoricoTCGridResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HistoricosTranferGrafica">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Mes" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Year" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="Testing" minOccurs="0" name="Opciones" type="q7:Opcion" />
        <xs:element minOccurs="0" name="IdCliente" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HistoricosTranferGraficaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HistoricosTranferGraficaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HistoricoTranferGrid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Del" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Al" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="posicion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numRegistros" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IdCliente" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HistoricoTranferGridResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HistoricoTranferGridResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HistoricoSFEGrafica">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Mes" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Year" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="Testing" minOccurs="0" name="Opciones" type="q8:Opcion" />
        <xs:element minOccurs="0" name="idUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HistoricoSFEGraficaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HistoricoSFEGraficaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HistoricoSFEGrid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="del" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="al" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="posicion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numRegistros" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HistoricoSFEGridResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HistoricoSFEGridResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPDF">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UUID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPDFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerPDFResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCFDi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UUID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCFDiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerCFDiResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarEstatusCFDi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UUID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Estatus" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarEstatusCFDiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarEstatusCFDiResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DespliegaClientesFE">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DespliegaClientesFEResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DespliegaClientesFEResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargarFolios">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idDestinoUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargarFoliosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CargarFoliosResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FoliosRestantes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idusuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FoliosRestantesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FoliosRestantesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TranferirFolios">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idOrigenUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rfcDestino" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TranferirFoliosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TranferirFoliosResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RazonSocial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rfc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RazonSocialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RazonSocialResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarComprasEmisores">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idusuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarComprasEmisoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConsultarComprasEmisoresResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidacionPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidacionPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidacionPasswordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DespliegaFormatos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DespliegaFormatosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DespliegaFormatosResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DespliegaEstatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DespliegaEstatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DespliegaEstatusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DespliegaLista">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="Testing" minOccurs="0" name="lista" type="q9:listas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DespliegaListaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DespliegaListaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DespliegaProveedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="Testing" minOccurs="0" name="Servicio" type="q10:Servicios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DespliegaProveedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DespliegaProveedorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscaTipoAsentamiento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pais" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscaTipoAsentamientoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BuscaTipoAsentamientoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscaAsentamiento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pais" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipoAsentamiento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscaAsentamientoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BuscaAsentamientoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Paises">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PaisesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PaisesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscaEstados">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pais" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscaEstadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BuscaEstadosResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscaMunicipio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pais" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscaMunicipioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BuscaMunicipioResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscaCiudad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pais" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="municipio" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscaCiudadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BuscaCiudadResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscaCP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pais" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="municipio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ciudad" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscaCPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BuscaCPResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="finc">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="fincResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fincResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>